@page
@model IndexModel
@{
    ViewData["Title"] = "Yield Power Law Model Calibration from Rheometer";
}

<div class="text-center">
    <h1 class="display-4">Yield Power Law Model Calibration from Rheometer</h1>
    <h2>Yield Power Law Model API</h2>
    <h3> Classes Documentation</h3>
    <p>The yield power calibration model class documention can be found: <a href="ModelAPI\_site\toc.html">here</a> </p>

    <h2>Yield Power Law Calibration Microservice API</h2>
    <h3>Classes Documentation</h3>
    <p>The microservice class documention can be found: <a href="ServiceAPI\_site\toc.html">here</a> </p>
    <h3>Json File Definitions</h3>
    <p>The Json file definitions of the web API can be found: <a href="json-schemas\toc.html">here</a> </p>
</div>
